<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
	<listener class-name="com.inetBanking.utilities.Reporting"/>
</listeners>
  <test thread-count="5" name="BankingApp Test">
  <!-- replace 'value' with browser of choice:
	chrome = Google chrome
	ie = Internet Explorer -->
<parameter name="browser" value="chrome">
    <classes>
      <class name="com.inetBanking.testcases.TC_Login_001"/>
       <!--  <class name="com.inetBanking.testcases.TC_LoginMultiple_002"/>-->
        <class name="com.inetBanking.testcases.TC_CreateNewCustomer_003"/>
    </classes>
    </parameter>
  </test> <!-- Test -->
</suite> <!-- Suite -->
